#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.board-medio{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:5px;
}

.square{
  border:2px solid;
  width:20px;
  height:20px;
  aspect-ratio:1/1;

  display:flex;
  align-items:center;
  justify-content:center;

  padding:0px;
  margin:0px;
}
.box-turns{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.turns{
display:flex;
flex-direction:row;
}